<h2 mat-dialog-title>Edit exchange</h2>
<form [formGroup]="form" mat-dialog-content>
    <mat-form-field>
        <mat-label>Exchange</mat-label>
        <mat-select formControlName="key" (selectionChange)="selectExchange(key.value)" #key>
            <mat-option *ngFor="let exchange of $availableExchanges | async" [value]="exchange.key">{{exchange.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <ng-container *ngIf="selectedExchangeCredentials">
        <mat-form-field *ngFor="let credential of selectedExchangeCredentials">
            <mat-label>{{credential}}</mat-label>
            <input matInput type="text" [placeholder]="credential" [formControlName]="credential">
        </mat-form-field>
    </ng-container>
</form>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button (click)="saveExchange()">Save</button>
</mat-dialog-actions>